{% extends 'layout.html' %}
{% block body %}
   <h1>About Us</h1>
   <p>There two format trees you can visualize using this websites</p>
   <div class="container">
     <div class="row">
       <div class="col-xs-6" id="div1">
            <h3>01.Circular Format Tree</h3>
            <p>
                <img src="/static/images/circular_phyloxml.png">
            </p>
       </div>
       <div class="col-xs-6" id="div2">
   
            <p>
                    <h3>02.Rectangular Format Tree</h3>
                    <img src="/static/images/rectangular_phyloxml.png">
                </p>
       </div>
     </div>
   </div>



   

   
{% endblock %}